{%- assign data = include.data -%}
{%- assign should-render = false -%}
{%- capture html -%}
    <ul class="horizontal-list details font-small">
        {%- if data.start -%}
            {%- assign should-render = true -%}
            <li>{{ data.start }}</li>
        {%- endif -%}
        {%- if data.end -%}
            {%- assign should-render = true -%}
            <li>{{ data.end }}</li>
        {%- endif -%}
        {%- if data.location -%}
            {%- assign should-render = true -%}
            <li>{{ data.location }}</li>
        {%- endif -%}
        {%- if data.type -%}
            {%- assign should-render = true -%}
            <li>{{ data.type }}</li>
        {%- endif -%}
    </ul>
{%- endcapture -%}
{%- if should-render -%}
    {{- html -}}
{%- endif -%}
