<footer class="site-footer{% if page.footer-options.no-seperate %} no-seperate{% endif %}">
  <div class="content">
    {%- unless page.footer-options.no-socials -%}
      {%- include socials.html -%}
    {%- endunless -%}

    {%- unless page.footer-options.no-site-utils -%}
      <ul class="utility-list">
        <li>
          <a rel="alternate" href="{{ 'feed.xml' | absolute_url }}">
            <i data-feather="rss"></i>Feed
          </a>
        </li>
        <li>
          <a rel="sitemap" href="{{ 'sitemap.xml' | absolute_url }}">
            <i data-feather="zap"></i>Sitemap
          </a>
        </li>
        <li>
          {%- include theme-toggle.html -%}
        </li>
      </ul>
    {%- endunless -%}

    {%- unless page.footer-options.no-copyright -%}
      <p class="copyright font-small">
        &copy;&nbsp;{{ site.author.name }}
      </p>
    {%- endunless -%}
  </div>
</footer>
