head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="sitemap", type="application/xml", title="Sitemap", href="/sitemap.xml")
    link(rel="alternate", type="application/rss+xml", title="Feed", href="/feed.xml")
    include /head/i_favicon
    include /head/i_seo
    include /head/i_style
    include /head/i_scripts
