include /m_feather

div.theme-selector
    button.trigger.imitate-link
        +feather("monitor", "gap-right").icon-auto
        +feather("moon", "gap-right").icon-dark
        +feather("sun", "gap-right").icon-light
        | Theme
    ul.menu
        li(data-option="auto") #[+feather("monitor", "gap-right")] System
        li(data-option="dark") #[+feather("moon", "gap-right")] Dark
        li(data-option="light") #[+feather("sun", "gap-right")] Light
