---
layout: blog
title: Tech Blog
pagination:
    data: collections.techPost
    size: 5
    alias: pageItems
    generatePageOnEmptyData: true
    addAllPagesToCollections: true
permalink: | 
    | blog/tech/#{pagination.pageNumber > 0 ? `page-${pagination.pageNumber + 1}/` : ''}
ownDates:
    published: "2023-09-11 20:00 Z+3"
    modified: "2023-09-28 16:00 Z+3"
---
