.blog {
    @include flex(column, $row-gap: 30px);
    min-height: 100%;

    h1 {
        @include no-padding-margin;
    }

    h2 {
        @include no-padding-margin;
        font-weight: normal;
    }

    p {
        @include no-padding-margin;
        @include line-height-no-top-bottom(1.5);
    }

    .post-list {
        @include timeline-list($text-height-first: 1.5);
        flex-grow: 1;

        >li {
            @include flex(column, $row-gap: 10px);
        }

        .post-info-list {
            @include horizontal-list($seperator-width: 2em);
            font-size: small;
        }
    }

    .paginator-list {
        @include horizontal-list($seperator-width: 2em);
        justify-content: center;
    }

    .empty-blog-text {
        text-align: center;
    }
}