body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: 'Open Sans';
    line-height: 1;
}

a {
    text-decoration: none;

    &:link {
        color: var(--color-link-unvisited);
    }

    &:visited {
        color: var(--color-link-visited);
    }

    &:hover {
        color: var(--color-link-hover);
        text-decoration: underline;
    }

    &:active {
        color: var(--color-link-active);
    }
}

h1 {
    @include if-not-in-post {
        text-align: center;
    }
}

h1, h2, h3 {
    @include if-not-in-post {
        font-weight: normal;
    }
}

table:not(.rouge-table) {
    @include block-style;
    border-collapse: collapse;

    td, th {
        padding: 0.5em 1em;
        border: 1px solid var(--color-seperator-soft);
    }
}

.highlighter-rouge {
    @include block-style;

    pre.highlight {
        padding: 0.5em 1em;
        margin: 0px;
        overflow: auto;
    }
}

.root-container {
    @include flex(column);
    min-height: 100vh;
}

.wrapper {
    @include wrapper($content-width: 800px, $vertical-padding: 30px, $horizontal-padding: 30px);
    flex-grow: 1;
}

.theme-toggle {
    cursor: pointer;

    input {
        display: none;
    }
}
