.home-wrapper {
    @include wrapper($content-width: 500px, $vertical-padding: 0px, $horizontal-padding: 0px);
    @include flex(column);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.home-content {
    @include plain-anchor-colors;
    @include no-list-style;
    @include flex(column, $row-gap: 30px);
    text-align: center;

    h1 {
        @include no-padding-margin;
    }

    .nav-list {
        @include horizontal-list($seperator-width: 2em);
        font-size: large;
        justify-content: center;
    }

    p {
        @include no-padding-margin;
        line-height: 1.5;
    }
}
