.post {
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6 {
        &:not(:hover) {
            .heading-anchor {
                color: transparent;
            }
        }
    }

    .post-header {
        .post-info-list {
            @include horizontal-list($seperator-width: 2em);
            font-size: small;
        }
    }
}
