html[data-theme="light"] {
    @import "syntax-light";

    --color-background: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 15%);
    --color-emphasize: hsl(0, 100%, 38%);

    --color-seperator-soft: hsl(0, 0%, 85%);
    --color-seperator-hard: hsl(0, 0%, 70%);

    --color-link-unvisited: hsl(240, 88%, 50%);
    --color-link-visited: hsl(240, 88%, 50%);
    --color-link-hover: hsl(240, 88%, 50%);
    --color-link-active: hsl(240, 88%, 77%);

    --color-plain-link-unvisited: hsl(0, 0%, 5%);
    --color-plain-link-visited: hsl(0, 0%, 5%);
    --color-plain-link-hover: hsl(0, 0%, 5%);
    --color-plain-link-active: hsl(0, 0%, 51%);
}

html[data-theme="dark"] {
    @import "syntax-dark";

    --color-background: hsl(0, 0%, 12%);
    --color-text: hsl(0, 0%, 88%);
    --color-emphasize: hsl(0, 100%, 76%);

    --color-seperator-soft: hsl(0, 0%, 24%);
    --color-seperator-hard: hsl(0, 0%, 48%);

    --color-link-unvisited: hsl(120, 88%, 50%);
    --color-link-visited: hsl(120, 88%, 50%);
    --color-link-hover: hsl(120, 88%, 50%);
    --color-link-active: hsl(120, 88%, 33%);

    --color-plain-link-unvisited: hsl(0, 0%, 88%);
    --color-plain-link-visited: hsl(0, 0%, 88%);
    --color-plain-link-hover: hsl(0, 0%, 88%);
    --color-plain-link-active: hsl(0, 0%, 59%);
}