include /m_datetime
include /aboutSections/m_experienceDetails
include /m_feather
include /m_anchoredHeading

section
    +anchoredHeading(2, "Experience")
    each experienceItem in experience
        - const shouldRenderPositions = experienceItem.positions && experienceItem.positions.length > 0
        - const experienceHeadingItems = [experienceItem.company]; if (experienceItem.title) experienceHeadingItems.push(experienceItem.title);
        +anchoredSpanListHeading(3, experienceHeadingItems, { class: "horizontal-list-inline" }, "/").title
        +experienceDetails(experienceItem)
        if shouldRenderPositions && experienceItem.positionsAsDetails
            ul.parts-as-details.feather-ul.font-small
                each positionItem in experienceItem.positions
                    li
                        +feather("arrow-right")
                        ul.horizontal-list
                            li= positionItem.title
                            if positionItem.type
                                li= positionItem.type
                            li: +datetimeExact(positionItem.start, siteConfig.datetimeFormats.monthYear)
                            li: +datetimeExact(positionItem.end, siteConfig.datetimeFormats.monthYear)
        ul.description.feather-ul
            each descItem in experienceItem.description
                li
                    +feather("arrow-right")
                    = descItem
        if shouldRenderPositions && !experienceItem.positionsAsDetails
            .parts
                each positionItem in experienceItem.positions
                    +anchoredHeading(4, positionItem.title).title
                    +experienceDetails(positionItem)
                    ul.description.feather-ul
                        each descItem in positionItem.description
                            li
                                +feather("arrow-right")
                                = descItem
