---
layout: wrapped
---
include /m_readingTime
include /m_datetime

article.blog
    header
        h1= title
        //- if pagination.hrefs.length > 1
        //-     include /i_paginator

    if pageItems.length > 0
        each pageItem in pageItems
            h2
                a(href=pageItem.url)= pageItem.data.title
            ul.details.font-small
                li: +datetimeExact(pageItem.data.dates.published, siteConfig.datetimeFormats.dateOnly)
                if pageItem.data.dates.modified
                    li: span Updated #[+datetimeExact(pageItem.data.dates.modified, siteConfig.datetimeFormats.dateOnly)]
                li: +readingTime(pageItem.content)
            p.excerpt!= _.markdownIt.renderInline(pageItem.data.page.excerpt)
    else
        p.empty-blog-text There are no posts on this blog yet. Check back soon!
    
    if pagination.hrefs.length > 1
        footer
            include /i_paginator
