---
layout: wrapped
---
include /m_readingTime
include /m_datetime

article.blog
    header
        h1= title
        //- if pagination.hrefs.length > 1
        //-     include /i_paginator

    if posts.length > 0
        each postItem in posts
            h2
                a(href=postItem.url)= postItem.data.title
            ul.details.font-small
                li: +datetimeExact(postItem.data.dates.published, siteConfig.datetimeFormats.dateOnly)
                if postItem.data.dates.modified
                    li: span Updated #[+datetimeExact(postItem.data.dates.modified, siteConfig.datetimeFormats.dateOnly)]
                li: +readingTime(postItem.content)
            p.excerpt!= _.markdownIt.renderInline(postItem.data.page.excerpt)
    else
        p.empty-blog-text No posts on this blog yet. Check back soon!
    
    if pagination.hrefs.length > 1
        footer
            include /i_paginator
