---
layout: wrapped
---
<div class="blog">
  <h1>{{ page.title }}</h1>

  {%- if paginator.posts and paginator.posts.size != 0 -%}
    {%- for post in paginator.posts -%}
      <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
      <ul class="details font-small">
        <li>{{ post.date | date: site.date_format }}</li>
        <li>{% include reading-time.html content=post.content %}</li>
      </ul>
      {%- if site.show_excerpts -%}
        <p>
          {{- post.excerpt | strip_html -}}
          {%- comment %} {{ post.content | strip_html | truncatewords: site.excerpt_length }} {% endcomment -%}
          {%- comment %} {{ post.summary | strip_html }} {% endcomment -%}
        </p>
      {%- endif -%}
    {%- endfor -%}

    {%- if paginator.total_pages > 1 -%}
      <ul class="paginator">
        {%- if paginator.previous_page -%}
          <li>
            <a rel="prev" href="{{ paginator.previous_page_path | absolute_url }}" title="Previous page">
              <i data-feather="chevron-left"></i>
            </a>
          </li>
        {%- endif -%}

        {%- for pageNumber in (1..paginator.total_pages) -%}
          <li>
            {%- if pageNumber == paginator.page -%}
              <span class="active" title="You are here">{{ pageNumber }}</span>
            {%- elsif pageNumber == 1 -%}
              <a href="{{ page.paginate-base | absolute_url }}" title="Page {{ pageNumber }}">{{ pageNumber }}</a>
            {%- else -%}
              <a href="{{ page.paginate-base | append: "/page" | append: pageNumber | absolute_url }}" title="Page {{ pageNumber }}">{{ pageNumber }}</a>
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if paginator.next_page -%}
          <li>
            <a rel="next" href="{{ paginator.next_page_path | absolute_url }}" title="Next page">
              <i data-feather="chevron-right"></i>
            </a>
          </li>
        {%- endif -%}
      </ul>
    {%- endif -%}
  {%- else -%}
    <p class="empty-blog-text">No posts on this blog yet. Check back soon!</p>
  {%- endif -%}
</div>
