---
layout: base
---
- 
    const classes = [];
    if (wrapOptions) {
        if (wrapOptions.verticalCenter) {
            classes.push('verticalCenter');
        }
        if (wrapOptions.narrow) {
            classes.push('narrow');
        }
    }
    const classStr = classes.join(' ');

.wrapper(class=classStr)!= content
