<section>
    <h2>Awards</h2>
    {%- for award in site.data.awards -%}
        <h3 class="title">{{ award.title }}</h3>

        <ul class="details horizontal-list font-small">
            <li>{{ award.date }}</li>
            <li>Issued by {{ award.issuer }}</li>
        </ul>

        <ul class="description feather-ul">
            {%- for award-description-item in award.description -%}
                <li>
                    <i data-feather="arrow-right"></i>
                    {{- award-description-item -}}
                </li>
            {%- endfor -%}
        </ul>
    {%- endfor -%}
</section>
