<section>
    <h2>Education</h2>
    {% for education in site.data.education %}
        <h3 class="title">
            <span class="horizontal-list-inline">
                <span>{{ education.school }}</span>
                <span>{{ education.title }}</span>
            </span>
        </h3>

        <ul class="details horizontal-list font-small">
            <li>{{ education.department }}</li>
        </ul>
        <ul class="details horizontal-list font-small">
            <li>{{ education.start }}</li>
            <li>{{ education.end }}</li>
            <li>{{ education.location }}</li>
            <li>{{ education.grade }}</li>
        </ul>

        <ul class="description feather-ul">
            {% for education-description-item in education.description %}
                <li>
                    <i data-feather="arrow-right"></i>
                    {{ education-description-item }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>
