.four-oh-four {
    text-align: center;

    img {
        box-sizing: border-box;
        max-width: 100%;
        border: pixels-content(4) solid var(--color-seperator-soft);
        border-radius: 2rem;
    }

    p {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .center {
        margin: auto 0;
    }
}