.site-header {
    $breakpoint: pixels-media(650);

    @include plain-anchor;
    border-bottom: pixels-content(1) solid var(--color-seperator-soft);

    nav {
        @include wrapper;
        @include flex(row);
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;

        @include media-smaller-than($breakpoint) {
            align-items: center;
        }

        .nav-trigger{
            display: none;

            @include media-smaller-than($breakpoint) {
                display: block;
            }

            .icon-open {
                display: inline;
            }

            .icon-close {
                display: none;
            }
        }

        .nav-list {
            order: 999;

            @include media-larger-than($breakpoint) {
                @include horizontal-list($seperator-width: 1.5em);
                text-align: center;
                margin: 0;
            }

            @include media-smaller-than($breakpoint) {
                @include flex(column);
                display: none;
                margin-top: 0.5rem;
                margin-bottom: -0.5rem;
                flex: 100%;
                align-items: stretch;
                text-align: right;
                
                a {
                    padding: 0.5rem 0;
                }

                &.visible {
                    display: flex;

                    &~.nav-trigger {

                        .icon-open {
                            display: none;
                        }

                        .icon-close {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}

.site-main {
    @include flex(column);
    flex-grow: 1;
    
    .wrapper {
        @include flex(column);
        @include wrapper;
        flex-grow: 1;

        &.verticalCenter {
            justify-content: center;
        }

        &.narrow {
            @include wrapper($content-width: pixels-content(600));
        }
    }
}

.site-footer {
    @include plain-anchor;

    &:not(.no-seperate) {
        border-top: pixels-content(1) solid var(--color-seperator-soft);
    }

    .content {
        @include wrapper;
        @include flex(column, $row-gap: 1rem);
        justify-content: center;
        align-items: center;

        .around-the-web-list {
            @include horizontal-list($seperator-width: 1.5em);
            text-align: center;
            margin: 0;
        }

        .utility-list {
            @include horizontal-list($seperator-width: 1.5em);
            text-align: center;
            margin: 0;
        }

        .copyright {
            margin: 0;
            text-align: center;
        }
    }
}