.blog {
    min-height: 100%;

    h2 {
        margin-bottom: 0;
    }
    
    p {
        margin-top: 0;
    }

    .empty-blog-text {
        text-align: center;
    }

    .details {
        @include horizontal-list($seperator-width: 1.5em);
        margin: 0.5rem 0;
    }

    .paginator {
        @include horizontal-list($seperator-width: 2.5em);
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}
