.post {
    .post-header {
        h1 {
            margin-bottom: 0;
        }

        .details {
            @include horizontal-list($seperator-width: 1.5em);
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            justify-content: center;
        }
    }
}
