@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,350;0,400;0,450;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$font-weight-1: 300;
$font-weight-2: 350;
$font-weight-3: 400;
$font-weight-4: 450;
$font-weight-5: 500;

html {
    font-size: $root-font-size;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: $font-weight-1;
    line-height: 1.5;
}

p {
    margin: 0.75rem 0;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: $font-weight-1;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 1.75rem 0 0.75rem 0;
    font-weight: $font-weight-1;
}

h3 {
    font-size: 1.17rem;
    margin: 1.75rem 0 0.75rem 0;
    font-weight: $font-weight-2;
}

h4 {
    font-size: 1rem;
    margin: 1.75rem 0 0.75rem 0;
    font-weight: $font-weight-3;
}

h5 {
    font-size: 0.83rem;
    margin: 1.75rem 0 0.75rem 0;
    font-weight: $font-weight-4;
}

h6 {
    font-size: 0.67rem;
    margin: 1.75rem 0 0.75rem 0;
    font-weight: $font-weight-5;
}

.font-small {
    font-size: 0.83rem;
    font-weight: $font-weight-2;
}

.font-large {
    font-size: 1.17rem;
}

.font-huge {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    + h1, + h2, + h3, + h4, + h5, + h6 {
        margin-top: 1rem;
    }
}

pre {
    font-family: 'Cutive Mono', monospace;
}

code {
    font-family: 'Cutive Mono', monospace;
}