---
layout: projects
title: "Projects | __SG_TITLE__"
subtitle: "This page contains notable projects I took part in with a __SG_TITLE__ role."
pagination:
    data: projects
    size: 9
    alias: pageItems
    generatePageOnEmptyData: true
    addAllPagesToCollections: true
permalink: |
    | projects/involvement/__SG_SLUG__/#{pagination.pageNumber > 0 ? `page-${pagination.pageNumber + 1}/` : ''}
ownDates:
    published: "2023-09-11 20:00 Z+3"
    modified: "2023-09-28 16:00 Z+3"
---
