---
permalink: "404.html"
layout: wrapped
wrapOptions:
    verticalCenter: true
title: 404
eleventyExcludeFromCollections: true
dynamicPermalink: false
---
.four-oh-four
    h1 404
    img(src="/images/404.jpg")
    p You seem lost. There is nothing on this URL.
