---
layout: wrapped
title: Blog
eleventyExcludeFromCollections: true
---
.blogs-page
    h1 Blogs
    p Why are you on this page?
    p Because you are curious. It is good to be curious.
    p The society is crashing at an alarming speed, because people are not curious anymore. They accept everything they hear without any questioning. They follow the herd. They are terrified of being different.
    p They are terrified of being curious.
    p Keep asking questions. Keep poking at things. Keep breaking things.
    p Keep being curious.
    br
    p You can visit the actual blogs by clicking on the links below.
    ul
        li: a(href="/blog/life/") Life Blog
        li: a(href="/blog/tech/") Tech Blog
